html,
body {
  background-color: #323330;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.yellow {
  color: #f0db4f;
}

a {
  color: #f0db4f;
}
a:hover {
  color: #f0db1f;
}

body > header,
body > footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body > header::after {
  content: "";
  background-image: url("computer-mouse.svg");
  height: 25px;
  width: 25px;
  background-size: cover;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}

body > header > div {
  align-self: center;
}

article > header {
  font-size: 1.8rem;
}

.chip {
  float: right;
}

.info {
  color: grey;
}

main {
  margin: 5rem auto;
}

.openbank {
  color: #007aff;
}

.alfa-bank {
  color: #ef3124;
}

.gazprombank {
  color: #3356d7;
}

article {
  margin-bottom: 5rem;
}

/* Larger than mobile */
@media (min-width: 300px) and (max-width: 389px) {
  body > header::after {
    bottom: 15px;
  }

  body > header,
  main {
    padding: 0 1rem;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 390px) {
  body > header::after {
    bottom: 25px;
  }

  body > header,
  main {
    padding: 0 1rem;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  body > header,
  main {
    padding: 0 2rem;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
}

/* Larger than desktop */
@media (min-width: 1000px) {
  body > header,
  main {
    width: 900px;
    padding: 0;
  }
}
